In [1]:
import pandas as pd
import sqlite3

In [6]:
df = pd.read_csv('Times_Square_Hotels.csv')
df.head()

,Company Name,Address,Phone,Website,Location 1,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Paramount Hotel,235 W 46th St,(212) 764-5500,http://www.nycparamount.com,"(40.759132, -73.986348)",1,10036,40.759132,-73.986348,5,3,125,1024737,1010180006,Midtown-Midtown South ...
1,Carter Hotel,250 W 43rd St,(212) 944-6000,NaN,"(40.757309, -73.987901)",1,10036,40.757309,-73.987901,5,3,119,1085096,1010140055,Midtown-Midtown South ...
2,Millennium Hotel,145 W 44th St,(212) 768-4400,http://www.millenniumhotelnyc.com/,"(40.756667, -73.984396)",1,10036,40.756667,-73.984396,5,4,119,1085016,1009970010,Midtown-Midtown South ...
3,Best Western President Hotel,234 W 48th St,(212) 246-8800,http://www.bestwestern.com,"(40.760454, -73.985655)",1,10036,40.760454,-73.985655,5,3,125,1024764,1010190055,Midtown-Midtown South ...
4,Novotel,226 W 52nd St,(212) 315-0100,www.novotel.com,"(40.762897, -73.983683)",1,10019,40.762897,-73.983683,5,3,131,1024817,1010230018,Midtown-Midtown South ...

In [7]:
conn = sqlite3.connect("hotels.db")

In [9]:
df.shape

(41, 15)

In [14]:
df[df.BBL == 1009990017]

,Company Name,Address,Phone,Website,Location 1,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
23,Comfort Inn Midtown,129 W 46th St,(212) 221-2600,www.comfortinn.com,"(40.757811, -73.98323)",1,10036,40.757811,-73.98323,5,4,125,1022666,1009990017,Midtown-Midtown South ...
34,Remington Hotel Co,129 W 46th St,(212) 221-2600,NaN,"(40.757811, -73.98323)",1,10036,40.757811,-73.98323,5,4,125,1022666,1009990017,Midtown-Midtown South ...

In [15]:
df.drop(df.index[34], inplace=True)

In [16]:
df.BBL.value_counts()

1009970047    1
1010167501    1
1009970010    1
1010180018    1
1010140055    1
1010230029    1
1010197501    1
1010370036    1
1010427501    1
1010050001    1
1009980047    1
1010207501    1
1009990061    1
1009960009    1
1010000007    1
1010340037    1
1010210052    1
1010240131    1
1010230018    1
1010130012    1
1010057501    1
1009990048    1
1010200046    1
1010140058    1
1009980026    1
1010200057    1
1009980023    1
1010360052    1
1010200051    1
1009980018    1
1010187501    1
1010037501    1
1009990017    1
1009960043    1
1010170029    1
1010190055    1
1010180006    1
1010120037    1
1009970019    1
1010370035    1
Name: BBL, dtype: int64

In [17]:
df.columns = [c.replace(' ', '_') for c in df.columns]

In [19]:
df

,Company_Name,Address,Phone,Website,Location_1,Borough,Postcode,Latitude,Longitude,Community_Board,Community_Council_,Census_Tract,BIN,BBL,NTA
0,Paramount Hotel,235 W 46th St,(212) 764-5500,http://www.nycparamount.com,"(40.759132, -73.986348)",1,10036,40.759132,-73.986348,5,3,125,1024737,1010180006,Midtown-Midtown South ...
1,Carter Hotel,250 W 43rd St,(212) 944-6000,NaN,"(40.757309, -73.987901)",1,10036,40.757309,-73.987901,5,3,119,1085096,1010140055,Midtown-Midtown South ...
2,Millennium Hotel,145 W 44th St,(212) 768-4400,http://www.millenniumhotelnyc.com/,"(40.756667, -73.984396)",1,10036,40.756667,-73.984396,5,4,119,1085016,1009970010,Midtown-Midtown South ...
3,Best Western President Hotel,234 W 48th St,(212) 246-8800,http://www.bestwestern.com,"(40.760454, -73.985655)",1,10036,40.760454,-73.985655,5,3,125,1024764,1010190055,Midtown-Midtown South ...
4,Novotel,226 W 52nd St,(212) 315-0100,www.novotel.com,"(40.762897, -73.983683)",1,10019,40.762897,-73.983683,5,3,131,1024817,1010230018,Midtown-Midtown South ...
5,Dream Hotel,1674 Broadway,(212) 247-2000,http://www.dreamny.com/,"(40.762861, -73.983109)",1,10019,40.762861,-73.983109,5,4,131,1024831,1010240131,Midtown-Midtown South ...
6,W Hotel,1567 Broadway,(212) 930-7400,http://www.starwoodhotels.com/whotels/index.html,"(40.759247, -73.985168)",1,10036,40.759247,-73.985168,5,3,125,1024742,1010187501,Midtown-Midtown South ...
7,Doubletree Guest Suites,1568 Broadway,2127191600,www.nycdoubletreehotels.com,"(40.759055, -73.98471)",1,10036,40.759055,-73.984710,5,4,125,1000000,1009990061,Midtown-Midtown South ...
8,Stay Hotel,157 W 47th St,(212) 768-3700,NaN,"(40.758678, -73.983342)",1,10036,40.758678,-73.983342,5,4,125,1022676,1010000007,Midtown-Midtown South ...
9,Hotel 41 At Times Square,206 W 41st St,(212) 703-8600,NaN,"(40.755597, -73.987999)",1,10036,40.755597,-73.987999,5,3,113,1024650,1010120037,Midtown-Midtown South ...
10,"Time Hotel, The",224 W 49th St,(877) 846-3692,http://www.thetimeny.com/,"(40.761014, -73.985052)",1,10019,40.761014,-73.985052,5,3,125,1024782,1010200051,Midtown-Midtown South ...
11,Hilton Times Square,234 W 42nd St,(212) 642-2510,NaN,"(40.756747, -73.988659)",1,10036,40.756747,-73.988659,5,3,113,1024665,1010130012,Midtown-Midtown South ...
12,The Westin New York at Times Square,270 W 43rd St,(212) 868-1900 ext 245,www.westinny.com,"(40.757482, -73.988309)",1,10036,40.757482,-73.988309,5,3,119,1087141,1010140058,Midtown-Midtown South ...
13,Crowne Plaza Times Square,1605 Broadway,(212) 977-4000,www.cpmanhattantimessquare.com,"(40.760537, -73.984644)",1,10019,40.760537,-73.984644,5,3,125,1076195,1010200046,Midtown-Midtown South ...
14,Renaissance Times Square,714 Seventh Ave,(212) 261-5100,NaN,"(40.759581, -73.984366)",1,10036,40.759581,-73.984366,5,4,125,1024757,1010197501,Midtown-Midtown South ...
15,New York Inn,765 Eighth Ave,(888) 465-1140,http://www.newyorkinn.com/,"(40.76029, -73.987572)",1,10036,40.760290,-73.987572,4,3,127,1025055,1010370035,Clinton ...
16,Casablanca Hotel,147 W 43rd St,(212) 869-1212,http://www.casablancahotel.com/,"(40.756022, -73.984808)",1,10036,40.756022,-73.984808,5,4,119,1022611,1009960009,Midtown-Midtown South ...
17,The French Quarters Guest Apartments,346 W 46th St,NaN,NaN,"(40.760359, -73.989286)",1,10036,40.760359,-73.989286,4,3,121,1080885,1010360052,Clinton ...
18,Hotel St. James,109 W 45th St,(212) 221-3600,NaN,"(40.757026, -73.983291)",1,10036,40.757026,-73.983291,5,4,119,1022641,1009980026,Midtown-Midtown South ...
19,Big Apple Hostel,119 W 45th St,(212) 302-2603,NaN,"(40.757114, -73.983494)",1,10036,40.757114,-73.983494,5,4,119,1022639,1009980023,Midtown-Midtown South ...
20,Hotel Mela,120 W 44th St,(212) 710-7000,www.hotelmela.com,"(40.756461, -73.983952)",1,10036,40.756461,-73.983952,5,4,119,1022616,1009960043,Midtown-Midtown South ...
21,AKA,123 W 44th St,(212) 645-5700,www.stayaka.com,"(40.756491, -73.983977)",1,10036,40.756491,-73.983977,5,4,119,1022629,1009970019,Midtown-Midtown South ...
22,Grace Hotel,125 W 45th St,(212) 354-2323,www.hotelqt.com,"(40.757163, -73.983613)",1,10036,40.757163,-73.983613,5,4,119,1022637,1009980018,Midtown-Midtown South ...
23,Comfort Inn Midtown,129 W 46th St,(212) 221-2600,www.comfortinn.com,"(40.757811, -73.98323)",1,10036,40.757811,-73.983230,5,4,125,1022666,1009990017,Midtown-Midtown South ...
24,The Night Hotel,132 W 45th St,NaN,www.nighthotelny.com,"(40.757218, -73.983786)",1,10036,40.757218,-73.983786,5,4,119,1022632,1009970047,Midtown-Midtown South ...
25,"Muse Hotel, The",130 W 46th St,(212) 485-2701,NaN,"(40.757814, -73.98328)",1,10036,40.757814,-73.983280,5,4,119,1022645,1009980047,Midtown-Midtown South ...
26,Portland Square Hotel,132 W 47th St,(212) 382-0600,http://www.portlandsquarehotel.com/,"(40.758461, -73.982869)",1,10036,40.758461,-73.982869,5,4,125,1022669,1009990048,Midtown-Midtown South ...
27,Flatotel International,135 W 52nd St,(212) 887-9400,NaN,"(40.761736, -73.980883)",1,10019,40.761736,-73.980883,5,4,131,1023160,1010057501,Midtown-Midtown South ...
28,Econo Lodge,767 Eighth Ave,(212) 246-1991 ,www.econolodge.com,"(40.760315, -73.987554)",1,10036,40.760315,-73.987554,4,3,127,1025056,1010370036,Clinton ...
29,Hilton Garden Inn,790 Eighth Ave,2125817000,http://www.hiltonworldwide.com,"(40.761127, -73.98694)",1,10019,40.761127,-73.986940,5,3,125,1024771,1010207501,Midtown-Midtown South ...
30,Milford Plaza Hotel & Restaurant,700 Eighth Ave,(212) 642-4641,NaN,"(40.758663, -73.988738)",1,10036,40.758663,-73.988738,5,3,119,1024711,1010167501,Midtown-Midtown South ...
31,InterContinental Hotel,300 W 44th St,(212) 755-5900 ,ichotelsgroup.com,"(40.758706, -73.989276)",1,10036,40.758706,-73.989276,4,3,121,1088460,1010340037,Clinton ...
32,Mayfair Hotel,242 W 49th St,(212) 586-0300,www.mayfairnewyork.com,"(40.761138, -73.985344)",1,10019,40.761138,-73.985344,5,3,125,1024784,1010200057,Midtown-Midtown South ...
33,The Michaelangelo Hotel,152 W 51st St,(212) 765-1900,http://www.michelangelohotel.com/,"(40.761439, -73.982168)",1,10019,40.761439,-73.982168,5,4,131,1022710,1010037501,Midtown-Midtown South ...
35,Amsterdam Court Hotel,226 W 50th St,(212) 459-1000 ,http://www.amsterdamcourtnyc.com/,"(40.761668, -73.984651)",1,10019,40.761668,-73.984651,5,3,125,1024806,1010210052,Midtown-Midtown South ...
36,Sheraton Manhattan at Times Square,790 Seventh Ave,(212) 581-3300,NaN,"(40.762005, -73.982612)",1,10019,40.762005,-73.982612,5,4,131,1024818,1010230029,Midtown-Midtown South ...
37,Hampton Inn,851 Eighth Ave,(212) 581-4100,http://hamptoninn.hilton.com/en/hp/hotels/inde...,"(40.763059, -73.985557)",1,10019,40.763059,-73.985557,4,3,133,1025211,1010427501,Clinton ...
38,Sheraton New York Hotel and Towers,811 Seventh Ave,(212) 581-1000,http://www.starwoodhotels.com/sheraton/propert...,"(40.762674, -73.982095)",1,10019,40.762674,-73.982095,5,4,131,1023159,1010050001,Midtown-Midtown South ...
39,Hotel Edison,228 W 47th St,(212) 840-5000,http://www.edisonhotelnyc.com/,"(40.759727, -73.985886)",1,10036,40.759727,-73.985886,5,3,125,1076192,1010180018,Midtown-Midtown South ...
40,Marriott Marquis Hotel,1535 Broadway,(212) 398-1900,http://www.marriott.com/hotels/travel/nycmq-ne...,"(40.758267, -73.985468)",1,10036,40.758267,-73.985468,5,3,119,1024727,1010170029,Midtown-Midtown South ...

In [20]:
df.to_sql('hotelsts', conn)